.mid_dialog {
  width: 600px; }
  .mid_dialog .mid_container {
    padding: 0 16px;
    margin-bottom: 16px;
    overflow: auto; }

.friend_msg_list li {
  padding-top: 5px;
  padding-bottom: 5px; }
.friend_msg_list img {
  width: 40px;
  height: 40px;
  border-radius: 50%; }
.friend_msg_list .list_content {
  margin-left: 20px; }

.head_mod_dia .success_show {
  color: #00bcd4;
  text-align: center;
  line-height: 24px; }
.head_mod_dia .err_show {
  color: #f44336;
  text-align: center;
  line-height: 24px; }

.nick_mod_dia .nick_ok {
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right; }
.nick_mod_dia .result_msg {
  color: #00bcd4; }

.pass_mod_dia .nick_ok {
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right; }
.pass_mod_dia .result_msg {
  color: #00bcd4; }
