<div class="welcome_view">
    <md-toolbar class="wel_tool_bar">
        <div class="md-toolbar-tools ">
            <h1>GRchat</h1>
            <!-- fill up the space between left and right area -->
            <span flex></span>
        </div>
    </md-toolbar>
    <div class="center_container">
        <div ui-view="" class="form_view">
            <div class="welcome_button">
                <md-button ui-sref=".login">登录</md-button>
                <md-button ui-sref=".register">注册</md-button>
            </div>
        </div>
    </div>
</div>