.add_friend_dialog {
	 width: 600px;
    .add_friend_dialog_content {
        display: flex;
        flex-flow: column;
        .subheaer {
            padding-left: 20px;
        }
       
        .searchForm {
            padding: 0 20px;
            .error_msg {
                color: rgb(244, 67, 54);
            }
        }
        .searchResult {
            flex: 1;
            display: flex;
            flex-flow: column;
            .searchContent {
                flex: 1;
                overflow: auto;
            }
            .errReuslt {
                padding: 10px 0 10px 20px;
            }
            .search_item {
                padding: 10px 20px;
                .search_avatar {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    margin-left: 5px;
                    border-radius: 50%;
                    box-sizing: content-box;
                    vertical-align: middle;
                }
                .search_text {
                    text-align: left;
                    h3 {
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0.01em;
                        margin: 2px 0 2px 0;
                    }
                    span {
                        font-size: 12px;
                        font-weight: 200;
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
                .add_btn {
                    font-size: 14px;
                    line-height: 18px;
                    padding: 6px 25px;
                }
            }
        }
    }
}